.menu-group{
  border: 1px solid #000;
  margin: 15px 0px;
  width: 100%;
}
.menu-title{
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 14pt;
  padding: 10px;
}
.menu-list{
  list-style-type: none;
  padding: 2px 0px;
}
.menu-item{
  padding: 1px 10px;
  margin: 2px 0px;
  background: #DDD;
}
.float-right{
  float:right; 
  margin-right: 1%;
  margin-top: -5px;
  padding: 0;
}

.orderList {
  background: #000;
  color: #FFF;
  padding: 5px 15px;
  margin: 5px 0px;}

.orderList p {
  display: inline;
  padding: 10px;
  margin: 0px 5px; }
  
.orderList p a{ 
  color: #FFFF99; 
  text-decoration:none;}
  
.orderId {
	min-width: 200px;
	width:50%;
	font-size: 14pt;}
	
.customer {
  min-width: 200px;
  font-size: 12pt;}

table.table tbody tr td .raka{text-align:right; padding-right:15px;}

body#loginpage{
  background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(238, 238, 238, 0.450)),url("../login/begor.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
}
body#loginpage > div.container { background-color: transparent; }
body#loginpage > div.container > div.row { background-color: transparent; }
body#loginpage > div.container > div.col-lg-3,
body#loginpage > div.container > div.col-lg-6 { background-color: transparent; }

#loginbox{
  height: 360px;
  background-color: #a4ccccab;
  margin-top: calc(50% - 150px);
}

#loginbanner {
  background-color: #029752; color: white; font-size: 24px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center; padding: 10px 5px; font-weight: 700;
}

#loginform { padding: 30px; }
#loginform > .form-group { margin-top: 30px;}
.curved { padding: 20px; border-radius: 30px;}
.submit-button { text-align: right; padding-right: 20px;}
.btn-dark { background-color: black; color: white; font-style: italic; font-family: cursive;
padding: 10px 45px; font-size: 18px; border-radius: 20px;}